{% extends "base.html" %}

{% block content %}
	{% load static %}
	<table border="1">
		<tr>
			<td>Id</td>
			<td>{{ user.user.id }}</td>
		</tr>
		<tr>
			<td>Класс</td>
			<td>{{ user.grade }}</td>
		</tr>
		<tr>
			<td>Литера</td>
			<td>{{ user.letter }}</td>
		</tr>
		<tr>
			<td>Группа</td>
			<td>{{ user.group }}</td>
		</tr>
		<tr>
			<td>Телеграм id</td>
			<td>{{ user.telegram_id }}</td>
		</tr>
		<tr>
			<td>Записки</td>
			<td>{{ user.notebook }}</td>
		</tr>
		<tr>
			<td>Имя</td>
			<td>{{ user.user.first_name }}</td>
		</tr>
		<tr>
			<td>Фамилия</td>
			<td>{{ user.user.last_name }}</td>
		</tr>
	</table><br>
	{% if user.user.is_staff or user.user.is_superuser %}
	{% else %}
		{% if show_admin %}
			<a href="{% url "users:become_admin" %}">
				<button>Стать админом</button>
			</a>
		{% endif %}
	{% endif %}
	<a href="{% url "users:change_contacts" %}">
		<button>Сменить имя / фамилию</button>
	</a>
	<a href="{% url "users:logout" %}">
		<button>Выйти из аккаунта</button>
	</a>
{% endblock %}