{% extends "base.html" %}

{% block content %}
	{% load static %}
	<form method="POST" enctype="multipart/form-data" style="margin-left: 30em; margin-right: 30em; margin-bottom: 5em">
		{% for error in errors %}
			<p style="background-color: rgba(255,0,0,0.51)">{{ error }}</p>
		{% endfor %}
		{% csrf_token %}
		<h2>Привет, страждущий!</h2>
		<h3>Заполни эту форму для становления админом. Если ты не получил ответа в течении 48х часов - напиши разрабу в
			тг: **ссылка**</h3>
		<label for="grade">Select your grade</label>
		<select name="grade">
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
		</select>
		<br>
		<label for="letter">Select your letter</label>
		<select name="letter">
			<option value="А">А</option>
			<option value="Б">Б</option>
			<option value="В">В</option>
			<option value="Г">Г</option>
		</select>
		<br>
	<label>Choose your group</label>
	<select name="group">
		<option value="1">1</option>
		<option value="2">2</option>
	</select>
	<br>
		<label for="first_name">Enter your name</label>
		<input name="first_name">
		<br>
		<label for="last_name">Enter your last name</label>
		<input name="last_name">
	<br>
		<button type="submit">Отправить</button>
	</form>
{% endblock %}