{% extends "base.html" %}

{% block content %}
	{% load static %}
	{% for error in errors %}
		<p style="background-color: rgba(255,0,0,0.51)">{{ error }}</p>
	{% endfor %}
	<form method="POST" enctype="multipart/form-data" style="margin-left: 30em; margin-right: 30em; margin-bottom: 5em">
		{% csrf_token %}
		{{ form.as_p }}
		<br>
		<label for="color">Выберите цвет</label>
		<input id="color" maxlength="7" name="color" type="color">
		<button type="submit">Сохранить</button>
	</form>
{% endblock %}