{% extends "base.html" %}

{% block content %}
	{% load static %}
	<br>
	<table border="1">
	<tr>
		<td>Id</td>
		<td>Grade</td>
		<td>Letter</td>
		<td>Group</td>
		<td>First name</td>
		<td>Last name</td>
		<td>Tg account</td>
		<td>Decision</td>
	</tr>
		{% for i in data %}
			<tr>
				<td>{{ i.id }}</td>
				<td>{{ i.grade }}</td>
				<td>{{ i.letter }}</td>
				<td>{{ i.group }}</td>
				<td>{{ i.first_name }}</td>
				<td>{{ i.last_name }}</td>
				{% if i.telegram_id %}
					<td><a href="tg://user?id={{ i.telegram_id }}">Link</a></td>
					<td>
						<a href="{% url "users:decline_become_admin" i.telegram_id %}"><button>Decline</button></a>
						<a href="{% url "users:accept_become_admin" i.telegram_id %}"><button>Accept</button></a>
					</td>
				{% else %}
					<td>Без связи :)</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}