{% extends "base.html" %}

{% block content %}
	{% load static %}
	<br>
	<table border="1">
		<tr>
			<td>Id</td>
			<td>Класс</td>
			<td>Литера</td>
			<td>Группа</td>
			<td>Имя</td>
			<td>Фамилия</td>
			<td>Телеграм аккаунт</td>
			<td>Вердикт</td>
		</tr>
		{% for i in data %}
			<tr>
				<td>{{ i.id }}</td>
				<td>{{ i.grade }}</td>
				<td>{{ i.letter }}</td>
				<td>{{ i.group }}</td>
				<td>{{ i.first_name }}</td>
				<td>{{ i.last_name }}</td>
				{% if i.telegram_id %}
					<td><a href="tg://user?id={{ i.telegram_id }}">Ссылка</a></td>
					<td>
						<a href="{% url "users:decline_become_admin" i.telegram_id %}">
							<button>Отклонить</button>
						</a>
						<a href="{% url "users:accept_become_admin" i.telegram_id %}">
							<button>Принять</button>
						</a>
					</td>
				{% else %}
					<td>Без связи :)</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
{% endblock %}