{% extends "base.html" %}

{% block content %}
	{% load static %}
	<div class="container">
		<form method="POST" enctype="multipart/form-data" class="chtozadano-signup-form">
			{% csrf_token %}
			<div class="mb-3">
				<label for="login_input" class="form-label">Логин</label>
				<input type="text" name="username" class="form-control" id="login_input">
			</div>
			<div class="mb-3">
				<label for="password_input" class="form-label">Пароль</label>
				<input type="password" name="password" class="form-control" id="password_input">
			</div>
			<div class="mb-3">
				<label for="password_repeat" class="form-label">Повторите пароль</label>
				<input type="password" name="repeat_password" class="form-control" id="password_repeat">
			</div>
			<div class="mb-3">
				<label for="grade" class="form-label">Выберите класс</label>
				<select id="grade" class="form-select" name="grade">
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="letter" class="form-label">Выберите литеру</label>
				<select id="letter" class="form-select" name="letter">
					<option value="А">А</option>
					<option value="Б">Б</option>
					<option value="В">В</option>
					<option value="Г">Г</option>
				</select>
			</div>
			<div class="mb-3">
				<label for="group" class="form-label">Выберите группу</label>
				<select id="group" class="form-select" name="group">
					<option value="1">1</option>
					<option value="2">2</option>
				</select>
			</div>
			<button data-mdb-ripple-init type="submit" class="btn btn-dark btn-block form-button"
			        style="background-color: #272727">Создать аккаунт
			</button>
		</form>
		<div class="under-form">
			<button class="btn btn-dark under-button" style="background-color: rgba(39,39,39,0.9)"><a
				style="text-decoration: none; color: white;" href="{% url "users:signin_page" %}">Войти с
				кодом</a></button>
			<button class="btn btn-dark under-button" style="background-color: rgba(39,39,39,0.9)"><a
				style="text-decoration: none; color: white" href="{% url "users:signup_page" %}">Зарегистрироваться</a>
			</button>
		</div>
	</div>
{% endblock %}