{% extends "base.html" %}

{% block content %}
	{% load static %}
	<p><br></p>
	<a href="{% url "users:signin_password_page" %}"><button>Войти без Telegram</button></a>
	<form method="POST" enctype="multipart/form-data" style="margin-left: 30em; margin-right: 30em; margin-bottom: 5em">
		{% for error in errors %}
			<p style="background-color: rgba(255,0,0,0.51)">{{ error }}</p>
		{% endfor %}
		{% csrf_token %}
		<p>Код идентификации: {{ form.confirmation_code }}</p>
	 <p>Отправь <a href="https://t.me/ChtoZadano_bot">боту</a> слово "код"</p>
		<button type="submit">Войти</button>
	</form>
{% endblock %}