{% extends "base.html" %}

{% block content %}
	{% load static %}
	<title>Вход</title>
	<div class="container">
		<form method="POST" enctype="multipart/form-data" class="chtozadano-form">
			{% csrf_token %}
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Код подтверждения</label>
				<input type="text" name="confirmation_code" class="form-control" id="exampleInputEmail1"
				       aria-describedby="emailHelp" required>
				<div id="emailHelp" class="form-text">Отправьте /code в наш <a
					style="text-decoration: none;"
					href="https://t.me/OneSixteenHWBot">бот</a>
				</div>
			</div>
			<button data-mdb-ripple-init type="submit" class="btn btn-dark btn-block form-button"
			        style="background-color: #272727">Войти
			</button>
		</form>
		<div class="under-form">
			<a class="btn btn-dark under-button"
				style="text-decoration: none; color: white; background-color: rgba(39,39,39,0.9)" href="{% url "users:signin_password_page" %}">Войти с
				паролем</a>
			<a class="btn btn-dark under-button"
			   style="text-decoration: none; color: white; background-color: rgba(39,39,39,0.9)"
			   href="{% url "users:signup_page" %}">Зарегистрироваться</a>
		</div>
	</div>
{% endblock %}