{% extends "base.html" %}

{% block content %}
	{% load static %}
	<p><br></p>
	<a href="{% url "users:signup_password_page" %}">
		<button>Зарегистрироваться без Telegram</button>
	</a>
	<form method="POST" enctype="multipart/form-data" style="margin-left: 30em; margin-right: 30em; margin-bottom: 5em">
		{% for error in errors %}
			<p style="background-color: rgba(255,0,0,0.51)">{{ error }}</p>
		{% endfor %}
		{% csrf_token %}
		<p>Код идентификации: {{ form.confirmation_code }}</p>
		<p style="background-color: rgba(108,204,73,0.29)">Отправь <a href="https://t.me/ChtoZadano_bot">боту</a> слово
			"код"</p>
		<p>Класс: {{ form.grade }}</p>
		<p>Литера: {{ form.letter }} </p>
		<p>Группа: {{ form.group }} </p>
		<button>Зарегистрироваться</button>
	</form>
{% endblock %}