{% extends "base.html" %}

{% block content %}
	{% load static %}
	<div class="container">
		<form method="POST" enctype="multipart/form-data" class="chtozadano-form">
			{% csrf_token %}
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Логин</label>
				<input type="text" name="username" class="form-control" id="exampleInputEmail1"
				       aria-describedby="emailHelp">
			</div>
			<div class="mb-3">
				<label for="exampleInputEmail1" class="form-label">Пароль</label>
				<input type="password" name="password" class="form-control" id="exampleInputEmail1"
				       aria-describedby="emailHelp">
			</div>
			<button data-mdb-ripple-init type="submit" class="btn btn-dark btn-block form-button"
			        style="background-color: #272727">Войти
			</button>
		</form>
		<div class="under-form">
			<button class="btn btn-dark under-button" style="background-color: rgba(39,39,39,0.9)"><a
				style="text-decoration: none; color: white;" href="{% url "users:signin_page" %}">Войти с
				кодом</a></button>
			<button class="btn btn-dark under-button" style="background-color: rgba(39,39,39,0.9)"><a
				style="text-decoration: none; color: white" href="{% url "users:signup_page" %}">Зарегистрироваться</a>
			</button>
		</div>
	</div>
{% endblock %}