{% extends "base.html" %}

{% block content %}
	{% load static %}
	<form method="POST" enctype="multipart/form-data" style="margin-left: 30em; margin-right: 30em; margin-bottom: 5em">
		{% for error in errors %}
			<p style="background-color: rgba(255,0,0,0.51)">{{ error }}</p>
		{% endfor %}
		{% csrf_token %}
		<p>Enter your code: {{ form.confirmation_code }}</p>
		<p style="background-color: rgba(108,204,73,0.29)">Write to <a href="https://t.me/ChtoZadano_bot">bot</a> a word
			"код"</p>
		<p>Enter your grade: {{ form.grade }}</p>
		<p>Enter your letter: {{ form.letter }} </p>
		<button title="Enter your code">Enter</button>
	</form>
{% endblock %}