{% load static %}
<div class="navbar sticky-top navbar-expand-sm" style="background-color: #272727">
	<div class="container-fluid">
		<a class="navbar-brand" style="font-size: 30px;color: white; z-index: 35" href="/">
			<img src="{% static 'img/favicon.ico' %}" alt="Logo" height="50px" class="d-inline-block align-text-top">
			А что задано?
		</a>
		<button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse"
		        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
		        aria-label="Toggle navigation">
			<span class="navbar-toggler-icon navbar-dark" style="color: white;"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-sm-around chtozadano-nav" id="navbarSupportedContent">
			<nav>
				<ul>
					<li><a href="{% url "homework:schedule" %}" style="color: rgba(255,255,255,0.92);">Расписание</a>
					</li>
					<li><a href="{% url "homework:homework_page" %}" style="color: rgba(255,255,255,0.92);">Домашка</a>
					</li>
					<li><a href="{% url "users:account_page" %}" style="color: rgba(255,255,255,0.92);">Аккаунт</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<div>
	{% if messages %}
		{% for message in messages %}
			{% if message.tags == "success" %}
				<div class="alert alert-success alert-dismissible fade" role="alert"
				     style="vertical-align: middle;">
					<p class="alert-text">{{ message }}</p>
				</div>
			{% elif message.tags == "error" %}
				<div class="alert alert-danger alert-dismissible fade" role="alert"
				     style="vertical-align: middle;">
					<p class="alert-text">{{ message }}</p>
				</div>
			{% else %}
				<div class="alert alert-info alert-dismissible fade" role="alert"
				     style="vertical-align: middle;">
					<p class="alert-text">{{ message }}</p>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
	<script>
        document.addEventListener("DOMContentLoaded", function () {
            var alertElement = document.querySelector('.alert');
            if (alertElement) {
                setTimeout(function () {
                    alertElement.classList.add('show');
                }, 200);
            }
            setTimeout(function () {
                if (alertElement) {
                    alertElement.classList.remove('show');
                    alertElement.classList.add('fade-out');
                    setTimeout(function () {
                        alertElement.remove();
                    }, 500);
                }
            }, 4000);
        });
	</script>
</div>