{% extends "base.html" %}

{% block content %}
	{% load static %}
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{% for error in errors %}
			<p style="background-color: rgba(255,0,0,0.51)">{{ error }}</p>
		{% endfor %}
		<br>
		<label for="subject">Choose a subject:</label>
		<select name="subject">
			{% for subject in subjects %}
				<option>{{ subject }}</option>
			{% endfor %}
		</select>
		<textarea name="description">Enter description</textarea><br>
		<div class="container">
			<input type="file" id="file-input" onchange="preview()" multiple name="files">
			<label for="file-input">
				<i class="fas fa-upload"></i> &nbsp; Choose Files
			</label>
			<p id="num-of-files">No Files Chosen</p>
			<div id="images"></div>
		</div>
		<script>
            let fileInput = document.getElementById("file-input");
            let imageContainer = document.getElementById("images");
            let numOfFiles = document.getElementById("num-of-files");

            function preview() {
                imageContainer.innerHTML = "";
                numOfFiles.textContent = `${fileInput.files.length} Files Selected`;

                for (i of fileInput.files) {
                    let reader = new FileReader();
                    let figure = document.createElement("figure");
                    let figCap = document.createElement("figcaption");
                    figCap.innerText = i.name;
                    figure.appendChild(figCap);
                    reader.onload = () => {
                        if (reader.result.split(":")[1].startsWith("image")) {
                            let img = document.createElement("img");
                            img.setAttribute("src", reader.result);
                            img.setAttribute("width", 500);
                            figure.insertBefore(img, figCap);
                        } else {
                            let img = document.createElement("img");
                            img.setAttribute("src", "{% static "file_image.png" %}");
                            img.setAttribute("width", 100);
                            figure.insertBefore(img, figCap);
                        }
                    }
                    imageContainer.appendChild(figure);
                    reader.readAsDataURL(i);
                }
            }
		</script>
		<button type="submit">Submit</button>
	</form>

{% endblock %}