{% extends "base.html" %}

{% block content %}
	{% load static %}
	<br><br><br><h1>ВСЕ ДЗ</h1><a href="{% url "homework:homework_page" %}">
	<button>Посмотреть последнее дз</button>
</a><br>
	{% if not user.is_staff or user.is_superuser %}
		<a href="{% url "homework:choose_grad_let" %}">
			<button>Сменить класс или литеру</button>
		</a>
	{% endif %}
	<table border="1">
		<tr>
			<td>Класс</td>
			<td>Литера</td>
			<td>Предмет</td>
			<td>Автор</td>
			<td>Описание</td>
			<td>Дата создания</td>
			<td>Изображения</td>
			<td>Файлы</td>
			{% if user.is_superuser or user.is_staff %}
				<td>Редактирование</td>
			{% endif %}
		</tr>
		{% for i in object_list %}
			<tr>
				<td>{{ i.grade }}</td>
				<td>{{ i.letter }}</td>
				<td>{{ i.subject }}</td>
				<td>{{ i.author }}</td>
				<td>{{ i.description }}</td>
				<td>{{ i.created_at }}</td>
				<td>{% for j in i.images.all %}
					<img src="{{ j.image.url }}" width="500" height="500">
				{% endfor %}</td>
				<td>{% for j in i.files.all %}
					<a href="{{ j.file.url }}"><p>№{{ forloop.counter }}: {{ j.file_name }}</p></a>
				{% endfor %}</td>
				{% if user.is_superuser or user.is_staff %}
					<td><a href="{% url "homework:delete_homework" i.id %}">
						<button type="submit">Удалить</button>
					</a>
						<a href="{% url "homework:edit_homework" i.id %}">
							<button type="submit">Изменить</button>
						</a>
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</table>
	{% if is_paginated %}
		<br>
		<div class="pagination">
		    <span class="step-links">
		        {% if page_obj.has_previous %}
			        <a href="?page=1">&laquo; Первая</a>
			        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
		        {% endif %}
			    <span class="current">
		            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
		        </span>
			    {% if page_obj.has_next %}
				    <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
				    <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
			    {% endif %}
		    </span>
		</div>
	{% endif %}
{% endblock %}