{% extends "base.html" %}

{% block content %}
	{% load static %}

	<div class="container mt-5">
		<div class="accordion" id="accordionExample1">
			{% if info.0 or info.1 or info.2 %}
				<h2>Объявления</h2>
				{% for i in info %}
					{% if i %}
						{% if i.group != -2 or user.is_staff %}
							<div class="accordion-item">
								<h2 class="accordion-header" id="heading{{ i.id }}">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									        data-bs-target="#collapse{{ i.id }}" aria-expanded="false"
									        aria-controls="collapse{{ i.id }}">
										{% if i.group == -1 %}
											Сообщение для класса
										{% elif i.group == -2 %}
											Сообщение для администрации
										{% elif i.group == -3 %}
											Сообщение для школы
										{% endif %}
										<span
											class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
									</button>
								</h2>
								<div id="collapse{{ i.id }}" class="accordion-collapse collapse"
								     aria-labelledby="heading{{ i.id }}"
								     data-bs-parent="#accordionExample1">
									<div class="accordion-body">
										<p style="white-space: pre-line">
											{{ i.description }}</p>
											{% if i.images.all %}
												<div class="image-container gallery">
													{% for j in i.images.all %}
														<img src="{{ j.image.url }}" alt="photo №{{ forloop.counter }}"
														     height="200px"
														     style="margin-right: 20px; margin-bottom: 20px">
													{% endfor %}
												</div>
											{% endif %}
										{% if i.files.all %}
											{% for j in i.files.all %}
												Файл №{{ forloop.counter }}: <a href="{{ j.file.url }}">
												{{ j.file_name }}</a><p></p>
											{% endfor %}
										{% endif %}
										{% if i.group != -3 %}
											Опубликовал(а) <strong>{{ i.author }}</strong>,<wbr> {{ i.created_at }}<p></p>
										{% endif %}
										{% if i.group == -1 and user.is_staff  or i.group == -1 and user.is_superuser %}
											<a href="{% url "homework:edit_mailing" i.id %}">
												<button type="submit" class="btn btn-success">Изменить</button>
											</a>
											<a href="{% url "homework:delete_mailing" i.id %}">
												<button type="submit" class="btn btn-danger">Удалить</button>
											</a>
										{% elif i.group == -2 and user.is_superuser or i.group == -3 and user.is_superuser %}
											<a href="{% url "homework:edit_mailing" i.id %}">
												<button type="submit" class="btn btn-success">Изменить</button>
											</a>
											<a href="{% url "homework:delete_mailing" i.id %}">
												<button type="submit" class="btn btn-danger">Удалить</button>
											</a>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			<p><br></p>
			<h1 class="h1-inf-label">ДЗ для {{ grade }}{{ letter }} класса</h1>
			<a href="{% url "homework:all_homework_page" %}">
				<button class="btn btn-info click-button">Посмотреть все дз за последние 2 недели</button>
			</a>
			{% if not user.is_staff or user.is_superuser %}
				<a href="{% url "homework:choose_grad_let" %}">
					<button class="btn btn-info click-button">Сменить класс или литеру</button>
				</a>
			{% endif %}
			<p><br></p>
			{% for i in homework %}
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading{{ i.id }}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						        data-bs-target="#collapse{{ i.id }}" aria-expanded="false"
						        aria-controls="collapse{{ i.id }}">
							{{ i.subject }}
						</button>
					</h2>
					<div id="collapse{{ i.id }}" class="accordion-collapse collapse"
					     aria-labelledby="heading{{ i.id }}"
					     data-bs-parent="#accordionExample1">
						<div class="accordion-body">
							<p style="white-space: pre-line">
								{{ i.description }}</p>
								{% if i.images.all %}
									<div class="image-container gallery">
										{% for j in i.images.all %}
											<img src="{{ j.image.url }}" alt="photo №{{ forloop.counter }}"
											     height="200px"
											     style="margin-right: 20px; margin-bottom: 20px">
										{% endfor %}
									</div>
								{% endif %}
							{% if i.files.all %}
								<br>
								{% for j in i.files.all %}
									Файл №{{ forloop.counter }}: <a href="{{ j.file.url }}">
									{{ j.file_name }}</a><p></p>
								{% endfor %}
							{% endif %}
							Опубликовал(а) <strong>{{ i.author }}</strong>,<wbr> {{ i.created_at }}<br>
							{% if user.is_staff %}
								<p></p>
								<a href="{% url "homework:edit_homework" i.id %}">
									<button type="submit" class="btn btn-success">Изменить</button>
								</a>
								<a href="{% url "homework:delete_homework" i.id %}">
									<button type="submit" class="btn btn-danger">Удалить</button>
								</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
			{% for i in empty_hw %}
				<div class="accordion-item" style="opacity: 0.6">
					<h2 class="accordion-header" id="heading{{ i }}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						        data-bs-target="#collapse{{ i }}" aria-expanded="false"
						        aria-controls="collapse{{ i }}">
							{{ i }}
						</button>
					</h2>
					<div id="collapse{{ i }}" class="accordion-collapse collapse"
					     aria-labelledby="heading{{ i }}"
					     data-bs-parent="#accordionExample1">
						<div class="accordion-body">
							<p style="white-space: nowrap">
								Ничего не задано<br><br>
							</p></div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{##}
	{#		<table border="1">#}
	{#			<tr>#}
	{#				<td>Предмет</td>#}
	{#				<td>Автор</td>#}
	{#				<td>Описание</td>#}
	{#				<td>Дата создания</td>#}
	{#				<td>Изображения</td>#}
	{#				<td>Файлы</td>#}
	{#				{% if user.is_superuser or user.is_staff %}#}
	{#					<td>Редактирование</td>#}
	{#				{% endif %}#}
	{#				{% if request.user.is_authenticated %}#}
	{#					<td>Выполненность</td>#}
	{#				{% endif %}#}
	{#			</tr>#}
	{#			{% for i in homework %}#}
	{#				{% if user.is_authenticated and i.id in done_list %}#}
	{#					<tr style="background-color: rgba(135,145,148,0.22)">#}
	{#						{% else %}#}
	{#					<tr>#}
	{#				{% endif %}#}
	{#			<td>{{ i.subject }}</td>#}
	{#			<td>{{ i.author }}</td>#}
	{#			<td>{{ i.description }}</td>#}
	{#			<td>{{ i.created_at }}</td>#}
	{#			<td>#}
	{#				{% for j in i.images.all %}#}
	{#					<img src="{{ j.image.url }}" width="500" height="500">#}
	{#				{% endfor %}</td>#}
	{#			<td>{% for j in i.files.all %}#}
	{#				<a href="{{ j.file.url }}"><p>№{{ forloop.counter }}: {{ j.file_name }}</p></a>#}
	{#			{% endfor %}</td>#}
	{#			{% if user.is_superuser or user.is_staff %}#}
	{#				<td><a href="{% url "homework:delete_homework" i.id %}">#}
	{#					<button type="submit">Удалить</button>#}
	{#				</a>#}
	{#					<a href="{% url "homework:edit_homework" i.id %}">#}
	{#						<button type="submit">Изменить</button>#}
	{#					</a>#}
	{#				</td>#}
	{#			{% endif %}#}
	{#			{% if done_list and user.is_authenticated and i.id in done_list %}#}
	{#				<td>#}
	{#					<a href="{% url "homework:mark_done" i.id %}">#}
	{#						<button>Пометить как невыполненное</button>#}
	{#					</a>#}
	{#				</td>#}
	{#			{% elif user.is_authenticated %}#}
	{#				<td>#}
	{#					<a href="{% url "homework:mark_done" i.id %}">#}
	{#						<button>Пометить как выполненное</button>#}
	{#					</a>#}
	{#				</td>#}
	{#			{% endif %}#}
	{#			</tr>#}
	{#			{% endfor %}#}
	{#		</table>#}
{% endblock %}