{% extends "base.html" %}

{% block content %}
	{% load static %}

	<div class="container mt-5">
		<div class="accordion" id="accordionExample1">
			{% if info.0 or info.1 or info.2 %}
				<h2>Объявления</h2>
				{% for i in info %}
					{% if i %}
						{% if i.group != -2 or user.is_staff %}
							<div class="accordion-item">
								<h2 class="accordion-header" id="heading{{ i.id }}">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
									        data-bs-target="#collapse{{ i.id }}" aria-expanded="false"
									        aria-controls="collapse{{ i.id }}">
										{% if i.group == -1 %}
											Сообщение для класса
										{% elif i.group == -2 %}
											Сообщение для администрации
										{% elif i.group == -3 %}
											Сообщение для школы
										{% endif %}
										<span
											class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"></span>
									</button>
								</h2>
								<div id="collapse{{ i.id }}" class="accordion-collapse collapse"
								     aria-labelledby="heading{{ i.id }}"
								     data-bs-parent="#accordionExample1">
									<div class="accordion-body">
										<p style="white-space: pre-line">
											{{ i.description }}</p>
										{% if i.images.all %}
											<div class="image-container gallery">
												{% for j in i.images.all %}
													<img src="{{ j.image.url }}" alt="photo №{{ forloop.counter }}"
													     height="200px"
													     style="margin-right: 20px; margin-bottom: 20px">
												{% endfor %}
											</div>
										{% endif %}
										{% if i.files.all %}
											{% for j in i.files.all %}
												Файл №{{ forloop.counter }}: <a href="{{ j.file.url }}">
												{{ j.file_name }}</a><p></p>
											{% endfor %}
										{% endif %}
										{% if i.group != -3 %}
											Опубликовал(а) <strong>{{ i.author }}</strong>,
											<wbr> {{ i.created_at }}<p></p>
										{% endif %}
										{% if i.group == -1 and user.is_staff  or i.group == -1 and user.is_superuser %}
											<a href="{% url "homework:edit_mailing" i.id %}">
												<button type="submit" class="btn btn-success">Изменить</button>
											</a>
											<a href="{% url "homework:delete_mailing" i.id %}">
												<button type="submit" class="btn btn-danger">Удалить</button>
											</a>
										{% elif i.group == -2 and user.is_superuser or i.group == -3 and user.is_superuser %}
											<a href="{% url "homework:edit_mailing" i.id %}">
												<button type="submit" class="btn btn-success">Изменить</button>
											</a>
											<a href="{% url "homework:delete_mailing" i.id %}">
												<button type="submit" class="btn btn-danger">Удалить</button>
											</a>
										{% endif %}
									</div>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			<p><br></p>
			<div style="display: flex;justify-content: space-between;">
				<h1 class="h1-inf-label">Домашние задания для
					{{ request.user.server_user.grade }}{{ request.user.server_user.letter }} класса
					на {{ current_weekday|lower }}</h1>
				<div class="dropdown" style="margin-top: 2px">
					<button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
					        style="text-decoration: none; color: white; background-color: rgba(39,39,39,0.9)"
					        aria-expanded="false">
						{{ current_weekday }}
					</button>
					<ul class="dropdown-menu">
						{% for j, date in dates.items %}
							{% if date == current_weekday %}
								<li><a class="dropdown-item active"
								       href="{% url "homework:weekday_homework" weekday=j|add:'1' %}">{{ date }}</a>
								</li>
							{% else %}
								<li><a class="dropdown-item"
								       href="{% url "homework:weekday_homework" weekday=j|add:'1' %}">{{ date }}</a>
								</li>
							{% endif %}
						{% endfor %}
						<li>
							<hr class="dropdown-divider">
						</li>
						<li>
							<a class="dropdown-item" href="{% url "homework:homework_page" %}">Всё</a>
						</li>
					</ul>
				</div>
			</div>
			<a href="{% url "homework:all_homework_page" %}">
				<button style="background-color: rgba(39,39,39,0.94)"
				        class="btn btn-dark click-button">Посмотреть все дз за последние 2 недели
				</button>
			</a>
			{% if not user.is_staff or user.is_superuser %}
				<a href="{% url "homework:choose_grad_let" %}">
					<button style="background-color: rgba(39,39,39,0.94)"
					        class="btn btn-dark click-button">Сменить класс или литеру
					</button>
				</a>
			{% endif %}
			<p><br></p>
			{% for i in homework %}
				{% if i.id in done_list %}
					<div class="accordion-item" style="opacity: 0.8;">
				{% else %}
					<div class="accordion-item">
				{% endif %}
				<h2 class="accordion-header" id="heading{{ i.id }}"><a id="{{ i.id }}"></a>
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
					        data-bs-target="#collapse{{ i.id }}" aria-expanded="false"
					        aria-controls="collapse{{ i.id }}">
						{{ i.subject }}
					</button>
				</h2>
				{% if i.id == request.session.open_id and request.session.mark_down %}
					<div id="collapse{{ i.id }}" class="accordion-collapse collapse show"
					     aria-labelledby="heading{{ i.id }}"
					     data-bs-parent="#accordionExample1">
				{% else %}
					<div id="collapse{{ i.id }}" class="accordion-collapse collapse"
					     aria-labelledby="heading{{ i.id }}"
					     data-bs-parent="#accordionExample1">
				{% endif %}
			<div class="accordion-body">
				<p style="white-space: pre-line">{{ i.description }}</p>
				{% if i.images.all %}
					<div class="image-container gallery">
						{% for j in i.images.all %}
							<img src="{{ j.image.url }}" alt="photo №{{ forloop.counter }}"
							     height="200px"
							     style="margin-right: 20px; margin-bottom: 20px">
						{% endfor %}
					</div>
				{% endif %}
				{% if i.files.all %}
					<br>
					{% for j in i.files.all %}
						Файл №{{ forloop.counter }}: <a href="{{ j.file.url }}">
						{{ j.file_name }}</a><p></p>
					{% endfor %}
				{% endif %}
				Опубликовал(а) <strong>{{ i.author }}</strong>,
				<wbr>
				{{ i.created_at }}
				{% if done_list and user.is_authenticated and i.id in done_list %}
					<a style="text-decoration: none;"
					   href="{% url "homework:mark_done" i.id %}"><p
						style="opacity: 0.9; color: grey;"><i>Пометить не сделанным</i></p></a>
				{% elif user.is_authenticated %}
					<a style="text-decoration: none;"
					   href="{% url "homework:mark_done" i.id %}"><p
						style="opacity: 0.9; color: black;"><i>Пометить сделанным</i></p></a>
				{% endif %}
				{% if user.is_staff %}
					<p></p>
					<a href="{% url "homework:edit_homework" i.id %}">
						<button type="submit" class="btn btn-success">Изменить</button>
					</a>
					<a href="{% url "homework:delete_homework" i.id %}">
						<button type="submit" class="btn btn-danger">Удалить</button>
					</a>
				{% endif %}
			</div>
			</div>
			</div>
			{% endfor %}
			{% for i in empty_hw %}
				<div class="accordion-item" style="opacity: 0.6">
					<h2 class="accordion-header" id="heading{{ i }}">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
						        data-bs-target="#collapse{{ i }}" aria-expanded="false"
						        aria-controls="collapse{{ i }}">
							{{ i }}
						</button>
					</h2>
					<div id="collapse{{ i }}" class="accordion-collapse collapse"
					     aria-labelledby="heading{{ i }}"
					     data-bs-parent="#accordionExample1">
						<div class="accordion-body">
							<p style="white-space: nowrap">
								Ничего не задано<br><br>
							</p></div>
					</div>
				</div>
			{% endfor %}
			</div>
			</div>
		</div>
	</div>
{% endblock %}