html {
    overflow-y: scroll;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 30;
}

.content {
    min-height: calc(100vh - 100px);
}

footer {
    z-index: 10000;
    padding-top: 10%;
    height: 100px;
}

.alert {
    position: fixed;
    top: 10%;
    right: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 29;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-text {
    margin: 0;
}

.accordion {
    width: 95%;
    top: 12%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}

.click-button {
    margin-top: -30px;
}

.h1-inf-label {
    padding-bottom: 30px;
}

.dropdown-item:hover {
    background: darkgrey !important;
    color: #000 !important;
}

.dropdown-item.active {
    background: rgba(65, 61, 57, 0.63) !important;
    color: #000 !important;
}

.chtozadano-form {
    display: grid;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 40px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3)
}

.form-button {
    width: 100%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3)
}

.under-form {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 29%;
    margin-top: 5px;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3)
}

.under-button {
    margin-top: 10px
}

@media (max-width: 768px) {
    .alert {
        left: 5px;
        max-width: 95vw;
        padding: 12px 15px;
        margin-left: auto;
        font-size: 0.9rem;
    }

    .close {
        font-size: 18px;
    }

    .accordion {
        width: 95%;
        overflow-wrap: break-word;
    }

    .click-button {
        margin-top: 10px;
    }

    .click-button-two {
        margin-top: 10px;
    }

    .h1-inf-label {
        padding-bottom: 0;
    }

    .nav-button {
        margin-bottom: 10px;
        width: 100%;
    }

    .chtozadano-form {
        width: 88%;
        margin-top: 45%;
    }

    .under-form {
        width: 87%;
    }
}

@media (max-width: 480px) {
    .alert {
        left: 5px;
        max-width: 98vw;
        padding: 6px 10px;
        top: 90px;
        font-size: 0.8rem;
    }

    .close {
        font-size: 16px;
    }

    .accordion {
        top: 13%;
        width: 95%;
        overflow-wrap: break-word;
    }
}
