{% extends "base.html" %}

{% block content %}
	{% load static %}
	<head>
		<title>А что задано?</title>
		<link rel="stylesheet" href="{% static "css/mainpage.css" %}" type="text/css" media="all">
	</head>
	<body class="t-body" style="margin:0;">
	<div id="allrecords" class="t-records t-records_animated t-records_visible"
	     data-hook="blocks-collection-content-node">
		<div id="rec710645228" class="r t-rec" style="opacity: 1;" data-animationappear="off" data-record-type="360">
		</div>
		<div id="rec710645229" class="r t-rec r_showed r_anim" style=" " data-record-type="394">
		</div>
		<div id="rec710645230" class="r t-rec" style="background-color:#323232; " data-animationappear="off"
		     data-record-type="257" data-bg-color="#323232"><!-- T228 -->
			<div id="navbar" class="navbar228 navbar228__positionfixed" style="background-color: rgba(50,50,50,1); "
			     data-bgcolor-hex="#323232" data-bgcolor-rgba="rgba(50,50,50,1)"
			     data-appearoffset="" data-bgopacity-two="" data-menushadow="" data-bgopacity="1"
			     data-menu-items-align="right" data-menu="yes">
				<div class="t228__maincontainer navbart228__collumns" style="">
					<div class="navabar228_padding"></div>
					<div class="navbar228__leftside">
					</div>
				</div>
			</div>
		</div>
		<div id="rec710672729" class="r t-rec t-rec_pt_180 t-rec_pb_180"
		     style="padding-top:180px;padding-bottom:180px;background-color:#d31111; " data-record-type="468"
		     data-bg-color="#d31111" data-animationappear="off"><!-- t468 -->
			<div class="t468">
				<div class="t-container t-align_center">
					<div class="t-col t-col_10 t-prefix_1">
						<div class="t468__uptitle t-uptitle t-uptitle_md t-margin_auto">Создано
							учениками для учеников
						</div>
						<div class="t468__title t-title t-title_lg t-margin_auto">«А что задано?»</div>
						<div class="t468__descr t-descr t-descr_xl t-margin_auto">Уникальная система для
							информирования школьников о&nbsp;домашнем&nbsp;задании.<br>Наша цель&nbsp;— сделать так,
							чтобы вам больше никогда не&nbsp;пришлось отвлекать одноклассников вопросами о&nbsp;том, что
							нужно сделать на завтра
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="rec710675259" class="r t-rec t-rec_pt_150 t-rec_pb_150 r_anim r_showed"
		     style="padding-top:150px;padding-bottom:150px; " data-record-type="508" data-offset-top="2941.765625">
			<!-- t508 -->
			<div class="t508">
				<div class="t-section__container t-container">
					<div class="t-col t-col_12">
						<div class="t-section__topwrapper t-align_center">
							<div class="t-section__title t-title t-title_xs">Наши функции</div>
							<div class="t-section__descr t-descr t-descr_xl t-margin_auto">В
								<strong>«А&nbsp;что&nbsp;задано?»</strong> есть множество функций, призванных упростить
								жизнь как школьников, так и преподавателей
							</div>
						</div>
					</div>
				</div>
				<ul role="list" class="t508__container t-container">
					<li class="t-col t-col_8 t-prefix_2 t-item t-list__item ">
						<div class="t-cell t-valign_top">
							<svg role="presentation" class="t508__checkmark"
							     style="width:55px; height:55px;" fill="#d31111" xmlns="http://www.w3.org/2000/svg"
							     viewBox="0 0 100 100">
								<path
									d="M50.1 98.9c-26.7 0-48.5-21.8-48.5-48.5S23.4 1.9 50.1 1.9c8.9 0 17.5 2.4 25.1 7 .7.4.9 1.4.5 2.1-.4.7-1.4.9-2.1.5C66.5 7.2 58.4 5 50.1 5 25 4.9 4.6 25.3 4.6 50.4S25 95.9 50.1 95.9s45.5-20.4 45.5-45.5c0-3.2-.3-6.4-1-9.5-.2-.8.3-1.6 1.2-1.8.8-.2 1.6.3 1.8 1.2.7 3.3 1.1 6.7 1.1 10.1-.1 26.7-21.8 48.5-48.6 48.5z">
								</path>
								<path
									d="M50.1 63.9c-.4 0-.8-.2-1.1-.4L24.8 39.2c-.6-.6-.6-1.5 0-2.1.6-.6 1.5-.6 2.1 0l23.2 23.2 46.8-48c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-47.8 49c-.3.3-.7.5-1.1.5z">
								</path>
							</svg>
						</div>
						<div class="t508__textwrapper t-cell t-valign_top" style="">
							<div class="t-name t-name_md t508__bottommargin">Мгновенная
								информация о домашнем задании
							</div>
							<div class="t508__descr t-descr t-descr_sm">Телеграм бот
								мгноевенно отвечает на ваши вопросы о домашнем задании в любое время дня и ночи вне
								зависимости от формулировки, а на сайте все предметы удобно отранжированы по дате
								последнего обновления
							</div>
						</div>
					</li>
					<li class="t-col t-col_8 t-prefix_2 t-item t-list__item ">
						<div class="t-cell t-valign_top">
							<svg role="presentation" class="t508__checkmark"
							     style="width:55px; height:55px;" fill="#d31111" xmlns="http://www.w3.org/2000/svg"
							     viewBox="0 0 100 100">
								<path
									d="M50.1 98.9c-26.7 0-48.5-21.8-48.5-48.5S23.4 1.9 50.1 1.9c8.9 0 17.5 2.4 25.1 7 .7.4.9 1.4.5 2.1-.4.7-1.4.9-2.1.5C66.5 7.2 58.4 5 50.1 5 25 4.9 4.6 25.3 4.6 50.4S25 95.9 50.1 95.9s45.5-20.4 45.5-45.5c0-3.2-.3-6.4-1-9.5-.2-.8.3-1.6 1.2-1.8.8-.2 1.6.3 1.8 1.2.7 3.3 1.1 6.7 1.1 10.1-.1 26.7-21.8 48.5-48.6 48.5z">
								</path>
								<path
									d="M50.1 63.9c-.4 0-.8-.2-1.1-.4L24.8 39.2c-.6-.6-.6-1.5 0-2.1.6-.6 1.5-.6 2.1 0l23.2 23.2 46.8-48c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-47.8 49c-.3.3-.7.5-1.1.5z">
								</path>
							</svg>
						</div>
						<div class="t508__textwrapper t-cell t-valign_top" style="">
							<div class="t-name t-name_md t508__bottommargin">Просмотр
								домашних заданий на любой день недели
							</div>
							<div class="t508__descr t-descr t-descr_sm">Поскольку в
								систему загружено расписание всех классов, вы можете выбрать конкретный день, на который
								хотите посмотреть домашнее задание
							</div>
						</div>
					</li>
					<li class="t-col t-col_8 t-prefix_2 t-item t-list__item ">
						<div class="t-cell t-valign_top">
							<svg role="presentation" class="t508__checkmark"
							     style="width:55px; height:55px;" fill="#d31111" xmlns="http://www.w3.org/2000/svg"
							     viewBox="0 0 100 100">
								<path
									d="M50.1 98.9c-26.7 0-48.5-21.8-48.5-48.5S23.4 1.9 50.1 1.9c8.9 0 17.5 2.4 25.1 7 .7.4.9 1.4.5 2.1-.4.7-1.4.9-2.1.5C66.5 7.2 58.4 5 50.1 5 25 4.9 4.6 25.3 4.6 50.4S25 95.9 50.1 95.9s45.5-20.4 45.5-45.5c0-3.2-.3-6.4-1-9.5-.2-.8.3-1.6 1.2-1.8.8-.2 1.6.3 1.8 1.2.7 3.3 1.1 6.7 1.1 10.1-.1 26.7-21.8 48.5-48.6 48.5z">
								</path>
								<path
									d="M50.1 63.9c-.4 0-.8-.2-1.1-.4L24.8 39.2c-.6-.6-.6-1.5 0-2.1.6-.6 1.5-.6 2.1 0l23.2 23.2 46.8-48c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-47.8 49c-.3.3-.7.5-1.1.5z">
								</path>
							</svg>
						</div>
						<div class="t508__textwrapper t-cell t-valign_top" style="">
							<div class="t-name t-name_md t508__bottommargin">Добавление
								домашних заданий
							</div>
							<div class="t508__descr t-descr t-descr_sm">Назначенные в
								каждом классе администраторы могут удобно публиковать домашнее задание через
								Telegram-бота или сайт системы
							</div>
						</div>
					</li>
					<li class="t-col t-col_8 t-prefix_2 t-item t-list__item ">
						<div class="t-cell t-valign_top">
							<svg role="presentation" class="t508__checkmark"
							     style="width:55px; height:55px;" fill="#d31111" xmlns="http://www.w3.org/2000/svg"
							     viewBox="0 0 100 100">
								<path
									d="M50.1 98.9c-26.7 0-48.5-21.8-48.5-48.5S23.4 1.9 50.1 1.9c8.9 0 17.5 2.4 25.1 7 .7.4.9 1.4.5 2.1-.4.7-1.4.9-2.1.5C66.5 7.2 58.4 5 50.1 5 25 4.9 4.6 25.3 4.6 50.4S25 95.9 50.1 95.9s45.5-20.4 45.5-45.5c0-3.2-.3-6.4-1-9.5-.2-.8.3-1.6 1.2-1.8.8-.2 1.6.3 1.8 1.2.7 3.3 1.1 6.7 1.1 10.1-.1 26.7-21.8 48.5-48.6 48.5z">
								</path>
								<path
									d="M50.1 63.9c-.4 0-.8-.2-1.1-.4L24.8 39.2c-.6-.6-.6-1.5 0-2.1.6-.6 1.5-.6 2.1 0l23.2 23.2 46.8-48c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-47.8 49c-.3.3-.7.5-1.1.5z">
								</path>
							</svg>
						</div>
						<div class="t508__textwrapper t-cell t-valign_top" style="">
							<div class="t-name t-name_md t508__bottommargin">
								Информирование о важных вещах
							</div>
							<div class="t508__descr t-descr t-descr_sm">Администраторы
								могут публиковать важную информацию, которая будет рассылаться всем ученикам в классе, а
								также отображаться на сайте. Таким образом можно информировать об изменениях в
								расписании, экскурсиях, объявлениях и контрольных
							</div>
						</div>
					</li>
					<li class="t-col t-col_8 t-prefix_2 t-item t-list__item ">
						<div class="t-cell t-valign_top">
							<svg role="presentation" class="t508__checkmark"
							     style="width:55px; height:55px;" fill="#d31111" xmlns="http://www.w3.org/2000/svg"
							     viewBox="0 0 100 100">
								<path
									d="M50.1 98.9c-26.7 0-48.5-21.8-48.5-48.5S23.4 1.9 50.1 1.9c8.9 0 17.5 2.4 25.1 7 .7.4.9 1.4.5 2.1-.4.7-1.4.9-2.1.5C66.5 7.2 58.4 5 50.1 5 25 4.9 4.6 25.3 4.6 50.4S25 95.9 50.1 95.9s45.5-20.4 45.5-45.5c0-3.2-.3-6.4-1-9.5-.2-.8.3-1.6 1.2-1.8.8-.2 1.6.3 1.8 1.2.7 3.3 1.1 6.7 1.1 10.1-.1 26.7-21.8 48.5-48.6 48.5z">
								</path>
								<path
									d="M50.1 63.9c-.4 0-.8-.2-1.1-.4L24.8 39.2c-.6-.6-.6-1.5 0-2.1.6-.6 1.5-.6 2.1 0l23.2 23.2 46.8-48c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-47.8 49c-.3.3-.7.5-1.1.5z">
								</path>
							</svg>
						</div>
						<div class="t508__textwrapper t-cell t-valign_top" style="">
							<div class="t-name t-name_md t508__bottommargin">Глобальное
								информирование
							</div>
							<div class="t508__descr t-descr t-descr_sm">Есть вещи, о
								которых нужно оповещать всю школу. Тут на помощь приходит функция глобальной рассылки,
								позволяющая мгновенно отправлять необходимую информацию всем ученикам в школе. <br><em>В
									целях безопасности такой тип рассылки способен проводить только
									суперадминистратор</em></div>
						</div>
					</li>
					<li class="t-col t-col_8 t-prefix_2 t-item t-list__item ">
						<div class="t-cell t-valign_top">
							<svg role="presentation" class="t508__checkmark"
							     style="width:55px; height:55px;" fill="#d31111" xmlns="http://www.w3.org/2000/svg"
							     viewBox="0 0 100 100">
								<path
									d="M50.1 98.9c-26.7 0-48.5-21.8-48.5-48.5S23.4 1.9 50.1 1.9c8.9 0 17.5 2.4 25.1 7 .7.4.9 1.4.5 2.1-.4.7-1.4.9-2.1.5C66.5 7.2 58.4 5 50.1 5 25 4.9 4.6 25.3 4.6 50.4S25 95.9 50.1 95.9s45.5-20.4 45.5-45.5c0-3.2-.3-6.4-1-9.5-.2-.8.3-1.6 1.2-1.8.8-.2 1.6.3 1.8 1.2.7 3.3 1.1 6.7 1.1 10.1-.1 26.7-21.8 48.5-48.6 48.5z">
								</path>
								<path
									d="M50.1 63.9c-.4 0-.8-.2-1.1-.4L24.8 39.2c-.6-.6-.6-1.5 0-2.1.6-.6 1.5-.6 2.1 0l23.2 23.2 46.8-48c.6-.6 1.5-.6 2.1 0 .6.6.6 1.5 0 2.1l-47.8 49c-.3.3-.7.5-1.1.5z">
								</path>
							</svg>
						</div>
						<div class="t508__textwrapper t-cell t-valign_top" style="">
							<div class="t-name t-name_md t508__bottommargin">Режим чата
							</div>
							<div class="t508__descr t-descr t-descr_sm">Соскучился по
								школьным чатам? Включи этот режим в Telegram-боте, и тогда все домашние задания будут
								приходить к тебе, как только будут опубликованы
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="rec710665898" class="r t-rec t-rec_pt_90 t-rec_pb_90"
		     style="padding-top:90px;padding-bottom:90px;background-color:#d31111; " data-record-type="67"
		     data-bg-color="#d31111" data-animationappear="off"><!-- T059 -->
			<div class="t059">
				<div class="t-container t-align_center">
					<div class="t-col t-col_12">
						<div class="t059__text-impact t-text-impact t-text-impact_xs">Навсегда забудьте про
							вопрос<br><em>«А что задано?»</em></div>
					</div>
				</div>
			</div>
		</div>
		<div id="rec710653186" class="r t-rec t-rec_pt_150 t-rec_pb_150 r_anim r_showed"
		     style="padding-top:150px;padding-bottom:150px; " data-record-type="259" data-offset-top="2353.5">
			<!-- T230 -->
			<div class="t230">
				<div class="t-container">

					<div class="t-col t-col_12 t-align_center">
						<div class="t-title t-title_xxs t230__title">Масштабное обновление</div>
						<div class="t-text t-text_md t230__text">
							Возможность редактировать и удалять домашние задания. Обновленное визуальное
							оформление сайта и бота. Сохранение домашних заданий за 2 недели и их поиск.
							Авторизация на сайте через телеграм и многое другое...
						</div>
						<div class="t230__btn-container">
							<div class="t230__btn-wrapper"><a href="" target="_blank"
							                                  class="t-btn t-btn_md"
							                                  style="color:#ffffff;border:3px solid #d31111;"
							                                  rel="noopener">
								<table role="presentation" style="width:100%; height:100%;">
									<tbody>
									<tr>
										<td>Узнать больше</td>
									</tr>
									</tbody>
								</table>
							</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="r t-rec t-rec_pb_90 t-rec_pt_90" data-animationappear=off data-bg-color=#d31111 data-record-type=67
	     id=rec710665898 style=padding-top:50px;padding-bottom:50px;background-color:#d31111>
		<div class=t059>
			<div class="t-align_center t-container">
				<div class="t-col t-col_12">
					<div class="t-text-impact t-text-impact_s t059__text-impact">© 2024 AChtoZadano</div>
				</div>
			</div>
		</div>
	</div>
	</body>
{% endblock %}